<!-- <div class="bg-light-dark-blue p-h-md m-t-md"> -->
    <!-- <div class="container"> -->
<!--         <div class="row">
            <div class="col-sm-12 col-md-3">
                <inipik-categories></inipik-categories>
            </div>
            <div class="col-sm-12 col-md-6">
                <inipik-tags></inipik-tags>
            </div>
            <div class="col-sm-12 col-md-3">
                <h2>ติดตามเราได้ที่</h2>
                <div id="fb-root"></div>
                <div class="fb-page" data-href="https://www.facebook.com/inipik/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/inipik/"><a href="https://www.facebook.com/inipik/">Inipik Investment หุ้น การเงิน การลงทุน</a></blockquote></div></div>
            </div>
        </div> -->
    <!-- </div> -->
<!-- </div> -->
<go-to-top></go-to-top>
<footer id="footer" class="footer p-h-md">
    <div class="container text-center">
        &copy; 2016 <a ng-href="{{inipikPaths.home}}" class="text-white">inipik.com</a> 
        <!-- All rights reserved. -->
    </div>
</footer>