<div id="inipik-social">
    <h2>Follow Inipik</h2>
    <ul class="social-box">
        <li class="social-icon">
            <a ng-href="{{socialMedia.facebook}}" target="_blank" title="inipik facebook fanpage">
                <i class="fa fa-facebook-square fa-3x"></i>
            </a>
        </li>
        <!-- <li class="social-icon">
            <a ng-href="{{socialMedia.line}}" target="_blank" title="inipik line group">
                <i class="fa fa-line fa-2x"></i>
            </a>
        </li> -->
        <!-- <li class="social-icon">
            <a ng-href="{{socialMedia.instagram}}" target="_blank" title="inipik instagram">
                <i class="fa fa-instagram fa-2x"></i>
            </a>
        </li> -->
        <li class="social-icon">
            <a ng-href="{{socialMedia.twitter}}" target="_blank" title="inipik twitter">
                <i class="fa fa-twitter-square fa-3x"></i>
            </a>
        </li>
        <li class="social-icon">
            <a ng-href="{{socialMedia.google-plus}}" target="_blank" title="plus inipik">
                <i class="fa fa-google-plus-square fa-3x"></i>
            </a>
        </li>
        <!-- <li class="social-icon">
            <a ng-href="{{socialMedia.youtube}}" target="_blank" title="inipik channel">
                <i class="fa fa-youtube fa-2x"></i>
            </a>
        </li> -->
    </ul>
</div>

<inipik-categories></inipik-categories>

<div id="investor-quote" class="m-t-lg">
    <h2>Investor Quote</h2>
    <p class="text-muted p-w-sm">
        <i class="fa fa-quote-left fa-3x fa-pull-left"></i>
        หุ้น Super Stock นั้น มักจะไม่เคยมีราคาถูก ยกเว้นในบางช่วงบางตอนที่บริษัทอาจประสบปัญหาบางอย่างที่ร้ายแรงหรือในช่วงที่ตลาดหุ้นเกิดวิกฤติ ค่าPEของ Super Stock ในระดับ 20 เท่า นั้นเป็นเรื่องธรรมดาและไม่ถือว่าแพงเมื่อเทียบกับศักยภาพของกิจการในอนาคต และนี่อาจเป็นสิ่งที่ทำให้ VI จำนวนมากหลีกเลี่ยงการลงทุนในหุ้นสุดยอด เพราะเขาเคยชินกับการลงทุนในหุ้นที่มี PE ไม่เกิน 10 เท่า
    </p>
    <h4 class="text-right p-w-sm">
        <i class="fa fa-hashtag"></i> ดร. นิเวศน์ เหมวชิรวรากร
    </h4>
</div>

<inipik-sidebar></inipik-sidebar>

<div id="inipik-social" class="m-t-lg">
    <h2>Facebook Fanpage</h2>
    <div id="fb-root"></div>
    <div class="fb-page" data-href="https://www.facebook.com/inipik/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/inipik/"><a href="https://www.facebook.com/inipik/">Inipik Investment หุ้น การเงิน การลงทุน</a></blockquote></div></div>
</div>

<!-- <inipik-quote></inipik-quote> -->