<!-- <ol class="breadcrumb">
    <li><a ng-href="{{inipikPaths.home}}"><i class="fa fa-home"></i></a></li>
    <li class="active">{{post.title}}</li>
</ol> -->

<!-- <div class="quotes-box">
    <div class="quote">
        <div class="quote-thumbnail" ng-if="post.thumbnail_images">
            <img class="img-responsive" ng-src="{{post.thumbnail_images.full.url}}" />
        </div>
        <div class="quote-body">
            <h2 class="article-title" ng-bind-html="post.title"></h2>
            <div class="article-by">
                <span class="text-muted">
                    <i class="fa fa-clock-o"></i> {{post.date | momentjs}}
                    <i class="fa fa-user"></i> <a href="">{{post.author.nickname || 'Inipik'}}</a> 
                </span>
            </div>
            <div class="article-content" ng-bind-html="post.content"></div>
            <div class="article-category" ng-if="post.categories.length > 0">
                <small class="text-muted">categories: </small>
                <a ng-repeat="c in post.categories" ng-href="category/{{t.slug}}" class="btn btn-default btn-xs m-l-xs">
                    <i class="fa fa-folder"></i> {{c.title}}
                </a>
            </div>
            <div class="article-tag m-t-xs" ng-if="post.tags.length > 0">
                <small class="text-muted">tags: </small>
                <a ng-repeat="t in post.tags" ng-href="tag/{{t.slug}}" class="btn btn-default btn-xs m-l-xs">
                    <i class="fa fa-tag"></i> {{t.title}}
                </a>
            </div>
        </div>
    </div>
</div>
 -->
<div class="text-center">
<h1>
    <i class="fa fa-exclamation-triangle fa-5x"></i>
    <br>
    Coming soon!
</h1>
</div>